version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend-api
    ports:
      - "3000:3000"

  frontend:
    build: ./app
    container_name: frontend-nginx
    ports:
      - "8080:80"
    depends_on:
      - backend
